
body{
    background-color:  hsl(0, 0%, 95%);
    min-height: 100vh;
    display:flex;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }


.card-container{
    overflow:hidden;
    border-radius: .5rem;
}

.card-component{
    padding:2.5rem;
}


.feature-container{
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 1rem;
}
/* icons */
card-image{
    margin-bottom:1.75rem;
}


 .card-title{
    color: hsl(0, 0%, 95%);
    font-weight: 700px;
    font-family: "Big Shoulders Display";
    font-style: normal;
    margin-bottom:1rem;
    width: 101px;
    height:48px;  
    line-height: 48px; 
    text-transform: uppercase;
    font-size:40px;
} 

p{
    line-height: 1.75;
    margin-bottom: 3rem;
    font-weight: 400;
    font-size: .875rem;
    color:hsl(0, 0%, 95%);
    font-family:"Lexend Deca";
}



.col-1{
    background-color: hsl(31, 77%, 52%);
}


.col-2 {
    background-color: hsl(184, 100%, 22%);
}

.col-3 {
    background-color:hsl(179, 100%, 13%);
}
  
.btn{
    font-size: .85rem;
    padding: .75rem 2rem;
    border-radius: 1.5rem;
    border: 2px solid #fff;
    transition: background-color 0.5s ease;
}

.btn-1{
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
  
}


.btn-2{
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
}



.btn-3{
     color:hsl(179, 100%, 13%) ; 
     background-color: hsl(0, 0%, 95%);
     border-color: hsl(0, 0%, 95%);
     position: fixed;
}

.btn-1:hover , .btn-2:hover , .btn-3:hover{
    cursor: pointer;
    background-color: unset;
    color:white;
   
}

/* footer */

footer{
    position:fixed;
    bottom: 0;
     right: 0; 
     width: 100%; 
     text-align:right; 
}

footer:hover{
    cursor: pointer;
}

.attribution { 
    font-size: 11px;
    color:darkblue;
    text-align: right;
    line-height: 1.5;
     
    }
.attribution a { 
    color: black;
}

@media (min-width:870px){
    .feature-container{
         max-width:870px;
         padding:0 2rem;
    }

    .card-container{
        display: flex;
       
    }
 
    p{
        margin-bottom:4rem;
    }
 
     } 