.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color:  hsl(0, 0%, 95%);
}
/* 
h1 , button{
    color: hsl(0, 0%, 95%);
} */


.container{
    display:flex;
    /* grid-template-columns:  500px 1fr 2fr; */
    /* grid-auto-rows: 200px; */
}

.column{
    display: grid;
    grid-template-columns:  500px 1fr 2fr;
    grid-auto-rows: 200px;
}