@media screen{
    body{
        max-width:1440px;
        min-width:375px;

    }
} 



body{
    background-color:  hsl(0, 0%, 95%);
    float:left;
    
}

/* icons */

.sedan-icons{
    width:64px;
    height:40px;
    padding-left: 308px;
    padding-top:219px;
}

.suv-icons{
    width:63.99px;
    height:40px;
    padding-top:219px;
    padding-left: 615px;
    position:absolute;
}

.luxury-icons{
    width:64px;
    height:40px;
    padding-left: 921px;
    padding-top:219px;
    position:absolute
}

 h3{
    color: hsl(0, 0%, 95%);
    font-weight: 700px;
    font-family: "Big Shoulders Display", sans-serif;
    width: 101px;
    height:48px;  
    line-height: 48px; 
    text-transform: uppercase;

} 

.second-heading{
    color: hsl(0, 0%, 95%);
    font-weight: 700px;
    font-family: "Big Shoulders Display", sans-serif;
    width: 68px;
    height:48px;
    text-transform: uppercase;
}

.third-heading{
    color: hsl(0, 0%, 95%);
    font-weight: 700px;
    font-family: "Big Shoulders Display", sans-serif;
    width: 98px;
    height:48px;
    text-transform: uppercase;
    
}
    p{
    color:hsla(0, 0%, 100%, 0.75);
    font-weight:400px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    width:212px;
    height: 125px;
    line-height:25px;
}



.feature-grid{
    display:flex;
    width:920px;
    height:500px;
    /* padding-top:171px;
    padding: left 260px; */
    position:absolute;
    padding:20px;
}

.feature-item , .feature-item-1 ,  .feature-item-3{
    flex:1;
    border-radius:5px;
}

.feature-item-2{
    flex:1;
    
}

.feature-item-1{
    background-color: hsl(31, 77%, 52%);
    height:500px;
    width:307px;
}


.feature-item-2{
    background-color: hsl(184, 100%, 22%);
    height:500px;
    width:307px;
}

.feature-item-3{
    background-color:hsl(179, 100%, 13%);
    height:500px;
    width:307px;
}
  

.btn-1{
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
    border: 2px solid #fff;
    border-radius: 30px;
    border-color: hsl(0, 0%, 95%);
    width: 146px;
    height: 48px;
    position:absolute;
    left: calc(50% - 146px/2 - 339px);
    top: calc(50% - 48px/2 + 199px);   
    padding: 15px 20px;
    cursor: pointer; 
    transition: all 0.4s ease-in-out;
}


.btn-2{
    background-color: hsl(0, 0%, 95%);
    border-radius: 15px;
    border-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    width: 146px;
    height: 48px;
    position: absolute;
    /* left: calc(50% - 146px/2 - 32px);
    top: 575px; */
    
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.btn-3{
     color:hsl(179, 100%, 13%) ; 
     background-color: hsl(0, 0%, 95%); 
    border-radius: 15px;
    border-color: hsl(0, 0%, 95%);
    width: 146px;
    height: 48px;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 15px 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
   
}

/* footer */
.attribution { 
    font-size: 11px;
     text-align: center; 
    }
.attribution a { 
    color: hsl(228, 45%, 44%); }